body{
    background-color: #3a0470;
    color: #fff;
    font-size: 28px;
}

.cont{
    margin-left: 10px;
}

.text{
    text-align: center;
    margin-top: -70px;
}

.text1 {
    margin-right: 60px;
}

.text2 {
    margin-right: 60px;
}

.text3 {
    margin-right: 60px;
}